<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/ui/trumbowyg.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/trumbowyg.min.js"></script>


</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <div
                style=" position: fixed; width: 20%;  height: 100vh; display: flex; flex-direction: column; border-left: 0px; border-bottom: 0px; border-top: 0px; border-right: 1px; border-color: #1AAEF4; border-style: solid;">

                <figure style=" margin-left: 60px; margin-top: 20px; width: 180px; height: 70px; "
                    class=" w-[100%] border-b-2 border-solid border-red-700">
                    <img src="/It_training_logo.svg" style="width: 100%; height: auto;" />
                </figure>
                <div
                    style=" width: 100%; display: flex; flex-direction: column; gap: 30px; margin-left: 80px; margin-top: 20px;  ">
                    <div>
                        <a href="/dashboard">
                            <button
                                style="cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius: 5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="home"> Home </button>
                        </a>

                    </div>
                    <div>
                        <a href="/course" onclick="this.classList.add('visited-active')">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="course">Courses </button>
                        </a>
                    </div>
                    <div>
                        <a href="/about-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton">
                                About Us
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="/blogs">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size:16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Blogs">Blogs </button>
                        </a>
                    </div>
                    <div>
                        <a href="/our-testimonial">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Testimonial">Testimonial </button>
                        </a>
                    </div>
                    <div>
                        <a href="/contact-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700;  "
                                class="sidebarHomebButton" for="contact us">Contact Us </button>
                        </a>
                    </div>
                </div>
            </div>
            <div style="width: 80%; margin-left: 20%;">

                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Add and Update Categories</h1>
                </div>

                <div style=" margin-top: 60px; display: flex; margin-left: 50px;">
                    <div style="width: 60%;  display: flex; flex-direction: column;  ">
                        <div style="  width: 100%;  padding: 20px 20px; ">
                            <!-- Update the categories -->
                            <h1 style=" font-size: 20px; color: green; font-weight: 700;"> Update The Categories - </h1>

                            <div style="display: flex; flex-direction: column; gap: 20px;">

                                <% categories?.forEach(function(category,index) {%>
                                    <div
                                        style="display: flex;  align-items: center;  justify-content: space-between; margin: 10px;">
                                        <p style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Category Name : </p>
                                        <p style="font-size: 20px; line-height: 22px; font-weight: 700; color: green; ">
                                            <%= category?.heading %>
                                        </p>
                                        <figure style="height: 70px; width: 70px;">
                                            <img style="height: 100%; width: 100%; object-fit: cover;"
                                                src="<%= backendUrl %>/<%= category?.categoryDetailsImg %>"
                                                alt="category images" />
                                        </figure>

                                        <button onclick="deleteCategories('<%= category._id %>')"
                                            style="padding: 7px 20px; border: 1px; border-style: solid; border-color: black; font-size: 16px; font-weight: 500; background-color: red; color: white;">
                                            Delete </button>
                                        <button onclick="updateCategory('<%= category._id %>')"
                                            style="padding: 7px 20px; border: 1px; border-style: solid; border-color: black; font-size: 16px; font-weight: 500; background-color: green; color: white;">
                                            Update </button>


                                    </div>
                                    <%}) %>


                            </div>
                            <!-- ADD Categorise -->


                            <div>
                                <h1
                                    style="font-size: 26px; font-weight: 700; color: rgb(6, 48, 233); margin-top: 20px;  ;">
                                    Add Categories : </h1>

                                <form style="margin-bottom: 30px;" action="/api/v1/admin/explore-category" method="POST"
                                    enctype="multipart/form-data">
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Category Name : </label>
                                        <input type="text" name="heading" placeholder="Category Name " required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Background Image : </label>
                                        <input type="file" name="bgImage" placeholder="Select Bg Image " required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Category Image : </label>
                                        <input type="file" name="img" placeholder="Select Image " required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Category Small Details : </label>
                                        <input type="text" name="para" placeholder="Category Details " required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Banner Image : </label>
                                        <input type="file" name="bannerImg" placeholder="Select Banner Image " required
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Category Details What is? : </label>
                                        <textarea type="text" name="categoryDetailsWhy" class="editor" required
                                            placeholder="Category Details Why is Important?"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Category Details Side Image : </label>
                                        <input type="file" name="categoryDetailsImg"
                                            placeholder="Category Details Side Image :" required 
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>


                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Importance of this category : </label>
                                        <textarea type="text" name="importance" class="editor" required
                                            placeholder="Importance of this category  :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>
                                    <!-- Create Card for multiple details -->
                                    <div style="margin: 20px; border: 2px; border-style: solid;  padding: 15px;"
                                        id="keyAreaContainer">
                                        <div
                                            style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                                            <h1
                                                style="font-size: 20px; font-weight: 700; color: green; margin-top: 20px; margin-left:20px ;">
                                                Add Details Card : </h1>

                                            <div id="category-card-container"
                                                style="width: 100%; display: flex; flex-direction: column;">
                                                <div style="width: 100%;">
                                                    <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;"
                                                        for="bg-color">Add Background color of card :</label>
                                                    <input type="text" name="detailsCard[0][bgColor]" id="bg-color"
                                                        placeholder="Enter Background color property" required
                                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                                    <label
                                                        style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 20px; display: block;"
                                                        for="cardImg">Card Img :</label>
                                                    <input type="file" name="detailsCard[0][img]" id="cardImg"
                                                        placeholder="Card Img" required
                                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />

                                                    <label
                                                        style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 20px; display: block;"
                                                        for="cardImg">Enter Card Heading and details :</label>
                                                    <textarea class="editor" type="text"
                                                        name="detailsCard[0][cardHeadandDetail]" id="cardImg"
                                                        placeholder="Enter Card Heading and details" required
                                                        style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                                </div>
                                            </div>

                                            <button
                                                style=" margin-top: 10px; border: 2px; border-style: solid; border-color:black; background-color: green; color: white; padding: 0 4px; "
                                                type="button" onclick="addCardCategory()">Add More Card </button>
                                        </div>

                                    </div>

                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Enter Important paragraph which will show in blue text : </label>
                                        <input type="text" name="impPara"required
                                            placeholder="Enter Important paragraph which will show in blue text :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                    </div>

                                    <div
                                        style="margin-top: 30px; display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label
                                            style="margin-top: 30px; font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Enter Process, Growth and skills in this category: </label>
                                        <textarea class="editor" type="text" name="processGrowthandSkill" required
                                            placeholder="Enter Process, Growth and skills in this category :"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"></textarea>
                                    </div>

                                    <button type="submit"
                                        style="width: 15%; padding: 5px 10px; background-color: #1AAEF4; margin-top: 10px; border-radius: 2px; border: 1px; border-style: solid; border-color: black; margin-left: 85%; color: white; ">Submit</button>
                                </form>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script>
            $('.editor').trumbowyg({
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['strong', 'em', 'underline', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['table'],
                    ['foreColor', 'backColor'],
                    ['fullscreen']
                ]

            });
        </script>

    </div>
    <script>
        async function deleteCategories(id) {
            console.log("id", id);
            //here we send the post request and delete this categories
            try {
                const response = await fetch("/api/v1/admin/delete-category", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ id })
                })
                if (response.ok) {

                    alert("Category deleted successfully!");

                } else {
                    // Handle server-side errors or non-2xx responses
                    alert(`Error:  'Failed to delete category.'}`);
                }
            }
            catch (error) {
                console.log("error", error);
            }
        }

        function updateCategory(id)
        {
            //console.log(id);
            window.location.href = `/update-category/${id}`
        }


    </script>

</body>

</html>