<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>

</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <div
                style=" width: 20%; position: fixed;  height: 100vh; display: flex; flex-direction: column; border-left: 0px; border-bottom: 0px; border-top: 0px; border-right: 1px; border-color: #1AAEF4; border-style: solid;">

                <figure style=" margin-left: 60px; margin-top: 20px; width: 180px; height: 70px; "
                    class=" w-[100%] border-b-2 border-solid border-red-700">
                    <img src="/It_training_logo.svg" style="width: 100%; height: auto;" />
                </figure>
                <div
                    style=" width: 100%; display: flex; flex-direction: column; gap: 30px; margin-left: 80px; margin-top: 20px;  ">
                    <div>
                        <a href="/dashboard">
                            <button
                                style="cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius: 5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="home"> Home </button>
                        </a>

                    </div>
                    <div>
                        <a href="/course" onclick="this.classList.add('visited-active')">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="course">Courses </button>
                        </a>
                    </div>
                    <div>
                        <a href="/about-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton">
                                About Us
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="/blogs">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size:16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Blogs">Blogs </button>
                        </a>
                    </div>
                    <div>
                        <a href="/our-testimonial">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Testimonial">Testimonial </button>
                        </a>
                    </div>
                    <div>
                        <a href="/contact-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700;  "
                                class="sidebarHomebButton" for="contact us">Contact Us </button>
                        </a>
                    </div>
                </div>
            </div>
            <div style="width: 80%; margin-left: 20%;">

                <div
                    style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid; display: flex; justify-content: center; align-items: center;">
                    <% if (success && success.length > 0) { %>
                        <div  class="toast success-toast">
                            <%= success %>
                        </div>
                    <% } %>
                    <% if (error && error.length > 0) { %>
                        <div class="toast error-toast">
                            <%= error %>
                        </div>
                    <% } %>
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Add and Update Partners</h1>
                </div>

                <div style=" margin-top: 60px; margin-left: 100px;">
                    <div
                        style="width: 60%;  display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                        <div style=" width: 100%;  padding: 20px 20px; ">
                            <!--  ourPartners -->
                            <form action="/api/v1/admin/add-partners" method="POST" enctype="multipart/form-data">
                                <div style="margin: 20px;   padding: 15px;">
                                    <label
                                        style="display:block;  font-size: 20px; font-weight: 700; color: #1AAEF4; margin-top: 20px; ">
                                        Add Partner : </label>

                                    <input type="file" name="img" required
                                        style="margin-top: 10px; border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />


                                    <button type="submit"
                                        style="padding: 5px 10px; background-color: #1AAEF4; margin-top: 10px; border-radius: 2px; border: 1px; border-style: solid; border-color: black; margin-left: 90%; color: white; ">Submit</button>

                                </div>
                            </form>

                            <!-- update partners section -->
                            <h1 style=" font-size: 20px; color: green; font-weight: 700;"> Update The Partners update
                                all the same Image : </h1>
                            <% partners?.forEach(function(item,index){%>
                                <form action="/api/v1/admin/update-partners" method="POST"
                                    enctype="multipart/form-data">
                                    <div style="margin: 20px; margin-top: 0px; margin-bottom: 5px;  padding: 15px;">
                                        <label
                                            style="display:block;  font-size: 20px; font-weight: 700; color: green; margin-top: 0px; ">
                                            Update Partner : </label>
                                        <div style="display: flex;  width: 100%; align-items: center;">
                                            <figure style="height: 55px; width: 50px; margin-right: 30px; ">
                                                <img style="height: 100%; width: 100%; object-fit: cover;"
                                                    src="<%= backendUrl %>/<%= item.img %>" alt="banner image" />
                                            </figure>
                                            <!-- Hidden field to identify the partner -->
                                            <input type="hidden" name="partnerId" value="<%= item._id %>" />
                                            <input type="file" name="img" required
                                                style="margin-top: 10px; border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                        </div>
                                        <button type="submit"
                                            style="padding: 5px 10px; background-color: green; margin-top: 10px; border-radius: 2px; border: 1px; border-style: solid; border-color: black; margin-left: 90%; color: white; ">Submit</button>

                                    </div>
                                </form>
                                <%}) %>

                                    <h1 style=" font-size: 20px; color: red; font-weight: 700;"> Delete The Partners
                                        delete
                                        all the same Image : </h1>

                                    <% partners?.forEach(function(item,index){%>
                                        <form action="/api/v1/admin/delete-partners" method="POST"
                                            >
                                            <div style="margin: 20px;   padding: 15px;">

                                                <label
                                                    style="display:block;  font-size: 20px; font-weight: 700; color: #1AAEF4; margin-top: 20px; ">
                                                    delete Partner : </label>
                                                <div
                                                    style="display: flex; justify-content: space-between; align-items: center;">
                                                    <figure style="height: 55px; width: 55px; margin: 0;">
                                                        <img style="min-height: 100%; min-width: 100%; object-fit: cover; display:block;"
                                                            src="<%= backendUrl %>/<%= item.img %>"
                                                            alt="banner image" />
                                                    </figure>
                                                    <!-- Hidden field to identify the partner -->
                                                    <input type="hidden" name="partnerId" value="<%= item._id %>" />
                                                    <button type="submit"
                                                        style="padding: 5px 10px; background-color: red;  border-radius: 2px; border: 1px; border-style: solid; border-color: black; color: white; ">Delete</button>
                                                </div>


                                            </div>
                                        </form>
                                        <%}) %>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>