<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/ui/trumbowyg.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/trumbowyg.min.js"></script>


</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <div
                style=" width: 20%; position: fixed;  height: 100vh; display: flex; flex-direction: column; border-left: 0px; border-bottom: 0px; border-top: 0px; border-right: 1px; border-color: #1AAEF4; border-style: solid;">

                <figure style=" margin-left: 60px; margin-top: 20px; width: 180px; height: 70px; "
                    class=" w-[100%] border-b-2 border-solid border-red-700">
                    <img src="/It_training_logo.svg" style="width: 100%; height: auto;" />
                </figure>



                <div
                    style=" width: 100%; display: flex; flex-direction: column; gap: 30px; margin-left: 80px; margin-top: 20px;  ">
                    <div>
                        <a href="/dashboard">
                            <button
                                style="cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius: 5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="home"> Home </button>
                        </a>
                    </div>
                    <div>
                        <a href="/course" onclick="this.classList.add('visited-active')">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="course">Courses </button>
                        </a>
                    </div>
                    <div>
                        <a href="/about-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton">
                                About Us
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="/blogs">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size:16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Blogs">Blogs </button>
                        </a>
                    </div>
                    <div>
                        <a href="/our-testimonial">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Testimonial">Testimonial </button>
                        </a>
                    </div>
                    <div>
                        <a href="/contact-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700;  "
                                class="sidebarHomebButton" for="contact us">Contact Us </button>
                        </a>
                    </div>
                </div>
            </div>
            <div style="width: 80%; margin-left: 20% ;">

                <div style="width:100%; height: 100px; border-width:100%; border-bottom: 1px; border-style: solid;">
                    <a href="/add-contactUs">
                        <button
                            style="color: white; background-color: #1AAEF4; width: 90px; height: 40px; border-radius: 5px; margin-top: 50px; margin-left: 40px;">Add
                            New</button>
                    </a>
                </div>
                <div
                    style="width:100%; height: 100px; border-width:100%; display: flex; justify-content: center; align-items: center;">
                    <% if (success && success.length> 0) { %>
                        <div class="toast success-toast">
                            <%= success %>
                        </div>
                        <% } %>
                    <% if (error && error.length> 0) { %>
                                <div class="toast error-toast">
                                    <%= error %>
                                </div>
                    <% } %>
                    <h1 style=" font-size: 36px; font-weight: 700; color: #1AAEF4;">
                        Update Contact Details</h1>
                </div>

                <div style=" margin-left: 100px; margin-bottom: 20px;">
                    <div
                        style="width: 60%;  display: flex; flex-direction: column; justify-content: center; align-items: center; ">
                        <div style=" width: 100%; padding: 20px 20px; ">

                            <div>
                                <h1 style="font-size: 26px; font-weight: 700; color: rgb(233, 6, 6); ">
                                    Update Details : </h1>

                                <form method="POST" enctype="multipart/form-data" action="/api/v1/admin/update-contact-us">
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Banner Image : </label>
                                        <div style="display: flex;  width: 100%; align-items: center;">
                                            <figure style="height: 55px; width: 50px; margin-right: 30px; ">
                                                <img style="height: 100%; width: 100%; object-fit: cover; border-radius: 5px;"
                                                    src="<%= backendUrl %>/<%= contactData?.bannerImg %>"
                                                    alt="course image" />
                                            </figure>
                                            <input type="file" name="bannerImg" placeholder="Banner Image "
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                                min="0" />
                                        </div>
                                        <input type="hidden" name="contactUsId" value="<%= contactData?._id %>" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Contact Us Heading sub heading and details : </label>
                                        <textarea type="text" name="contactUsHead" placeholder="Contact Us Heading"
                                            required class="editor"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"><%= contactData?.contactUsHead %></textarea>
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Office Address : </label>
                                        <input type="text" name="officeAddress" placeholder="Office Address" required   value="<%= contactData?.officeAddress %>"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Contact Us Number : </label>
                                        <input type="number" name="contactUsNumber" placeholder="Contact Us Number" required value="<%= contactData?.contactUsNumber %>"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Contact Us Email : </label>
                                        <input type="email" name="contactUsEmail" placeholder="Contact Us Email" required value="<%= contactData?.contactUsEmail %>"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>
                                    <div style="display: flex;  flex-direction: column;  gap: 10px; margin: 10px; ">
                                        <label style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                            Office Timing : </label>
                                        <input type="text" name="officeTiming" placeholder="Office Timing" required value="<%= contactData?.officeTiming %>"
                                            style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"
                                            min="0" />
                                    </div>

                                    <button type="submit"
                                        style="padding: 8px 20px; background-color: #1AAEF4; margin-top: 10px; border-radius: 2px; border: 1px; border-style: solid; border-color: black; margin-left: 85%; color: white; ">Submit</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>
    <script>
        $('.editor').trumbowyg({
            btns: [
                ['viewHTML'],
                ['formatting'],
                ['strong', 'em', 'underline', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['insertImage'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['table'],
                ['foreColor', 'backColor'],
                ['fullscreen']
            ]

        });
    </script>
</body>

</html>