<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet">
    <script src="/aejsFunction/ejsFunction.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/ui/trumbowyg.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.26.0/trumbowyg.min.js"></script>
</head>

<body>

    <div>
        <div style="display: flex; box-sizing: border-box; ">

            <div
                style=" width: 20%; position: fixed;  height: 100vh; display: flex; flex-direction: column; border-left: 0px; border-bottom: 0px; border-top: 0px; border-right: 1px; border-color: #1AAEF4; border-style: solid;">

                <figure style=" margin-left: 60px; margin-top: 20px; width: 180px; height: 70px; "
                    class=" w-[100%] border-b-2 border-solid border-red-700">
                    <img src="/It_training_logo.svg" style="width: 100%; height: auto;" />
                </figure>



                <div
                    style=" width: 100%; display: flex; flex-direction: column; gap: 30px; margin-left: 80px; margin-top: 20px;  ">
                    <div>
                        <a href="/admin/dashboard">
                            <button
                                style="cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius: 5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="home"> Home </button>
                        </a>

                    </div>
                    <div>
                        <a href="/admin/course" onclick="this.classList.add('visited-active')">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="course">Courses </button>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/about-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton">
                                About Us
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/blogs">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size:16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Blogs">Blogs </button>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/our-testimonial">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700; "
                                class="sidebarHomebButton" for="Testimonial">Testimonial </button>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/contact-us">
                            <button
                                style=" cursor: pointer; border: none; padding: 7px 0px; width: 120px; border-radius:5px; font-size: 16px; font-weight: 700;  "
                                class="sidebarHomebButton" for="contact us">Contact Us </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="rightDiv" >

                <div class="addNewDiv" >
                    <a href="/admin/add-course">
                        <button class="addNewBtn">Add New</button>
                    </a>
                </div>

                <div class="" style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 30px;">
                    <!-- Update and Delete the Course -->
                    <% if (success && success.length> 0) { %>
                        <div class="toast success-toast">
                            <%= success %>
                        </div>
                        <% } %>
                            <% if (error && error.length> 0) { %>
                                <div class="toast error-toast">
                                    <%= error %>
                                </div>
                                <% } %>

                                    <h1 style=" font-size: 20px; color: green; font-weight: 700;">
                                       Update Course Page -
                                    </h1>

                                    <div style="margin-bottom: 70px;">
                                        <form action="/api/v1/admin/update-course-banner" method="POST"
                                            enctype="multipart/form-data">
                                            <label
                                                style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 0px; display: block;">Update
                                                Banner
                                                Image : </label>
                                            <div style="display: flex;  width: 100%; align-items: center;">
                                                <figure style="height: 55px; width: 50px; margin-right: 30px; ">
                                                    <img style="height: 100%; width: 100%; object-fit: cover; border-radius: 5px;"
                                                        src="<%= backendUrl %>/<%= bannerCourse?.img %>"
                                                        alt="course image" />
                                                </figure>
                                                <input type="file" name="img" placeholder="Banner Image"
                                                    style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;" />
                                            </div>
                                            <input type="hidden" name="bannerId" value="<%= bannerCourse?._id %>" />
                                            <label
                                                style="font-size: 20px; font-weight: 400; color: #1AAEF4; margin-top: 20px; display: block;">Update
                                                Course
                                                Page Details
                                            </label>
                                            <textarea required type="text" name="coursePageHeading" required
                                                placeholder="Course Page Details" class="editor"
                                                style="border: 1px; border-style: solid; width: 100%; height: 60px; padding: 10px 10px;"><%= bannerCourse?.coursePageHeading %></textarea>

                                            <button type="submit"
                                                style=" border:2px; border-style: solid; border-color: black; margin-left: 90%; margin-top: 20px; width: 10%; font-weight: 500; cursor: pointer; color: white; background-color: #1AAEF4;  height: 40px; text-align: center; padding-top: 0px; border-radius: 5px; ">
                                                Submit
                                            </button>
                                        </form>
                                    </div>


                                    <h1 style=" font-size: 20px; color: green; font-weight: 700;"> Update And Delete The
                                        Course - </h1>

                                    <div style="display: flex; flex-direction: column; gap: 20px;">

                                        <% courses?.forEach(function(course,index) {%>
                                            <div
                                                style="display: flex;  align-items: center;  justify-content: space-between; margin: 10px;">
                                                <p style="font-size: 20px; font-weight: 400; color: #1AAEF4;">
                                                    Course Name : </p>
                                                <p
                                                    style="font-size: 20px; line-height: 22px; font-weight: 700; color: green; ">
                                                    <%= course?.courseName %>
                                                </p>
                                                <figure style="height: 70px; width: 70px;">
                                                    <img style="height: 100%; width: 100%; object-fit: cover; border-radius: 5px;"
                                                        src="<%= backendUrl %>/<%= course?.img %>" alt="course image" />
                                                </figure>

                                                <button onclick="deleteCourse('<%= course._id %>')"
                                                    style="padding: 7px 20px; border: 1px; border-style: solid; border-color: black; font-size: 16px; font-weight: 500; background-color: red; color: white;">
                                                    Delete </button>
                                                <button onclick="updateCourse('<%= course._id %>')"
                                                    style="padding: 7px 20px; border: 1px; border-style: solid; border-color: black; font-size: 16px; font-weight: 500; background-color: green; color: white;">
                                                    Update </button>


                                            </div>
                                            <%}) %>


                                    </div>
                </div>
            </div>


        </div>


    </div>
    <script>
        $('.editor').trumbowyg({
            btns: [
                ['viewHTML'],
                ['formatting'],
                ['strong', 'em', 'underline', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['insertImage'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['table'],
                ['foreColor', 'backColor'],
                ['fullscreen']
            ]
        });
    </script>
    <script>
        async function deleteCourse(id) {
            try {
                const response = await fetch("/api/v1/admin/delete-course", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ id })
                })
                    const data = await response.json();
                    if (data.redirect) {
                        window.location.href = data.redirect; // Redirect manually
                    }
           }
            catch (error) {
                console.log("error", error);
            }
        }

        function updateCourse(id) {
            console.log(id);
            window.location.href = `/admin/update-course/${id}`
        }


    </script>


</body>

</html>